<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whut.mapper.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.whut.model.SysRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="descp" jdbcType="VARCHAR" property="descp" />
  </resultMap>
  <resultMap id="BaseResultMapVo" type="com.whut.vo.SysRoleVo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="descp" jdbcType="VARCHAR" property="descp" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, tag, descp
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where id = #{id,jdbcType=INTEGER}
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_role
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.whut.model.SysRole">
    insert into sys_role (id, name, tag, 
      descp)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{tag,jdbcType=VARCHAR}, 
      #{descp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.whut.model.SysRole">
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="tag != null">
        tag,
      </if>
      <if test="descp != null">
        descp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="descp != null">
        #{descp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whut.model.SysRole">
    update sys_role
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tag != null">
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="descp != null">
        descp = #{descp,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whut.model.SysRole">
    update sys_role
    set name = #{name,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      descp = #{descp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectList" resultMap="BaseResultMapVo">

    select <include refid="Base_Column_List" />
    from sys_role
    <where>
      <if test="name != null and name != ''">
        and  name like concat('%',#{name},'%')
      </if>
    </where>
  </select>
  <select id="selectListByUserId" resultType="com.whut.model.SysRole">
    select sr.*
    from sys_role sr left join sys_user_role_rel srr
    on sr.id = srr.role_id
    where srr.user_id = #{id}
  </select>

    <insert id="insertForm">
    insert into sys_role (name, tag, descp)
    value (
    #{name},
    #{tag},
    #{descp}
    )
  </insert>
  <insert id="batchInsertRolePermRel">
    insert into sys_role_per_rel (role_id,per_id)
    values
    <foreach collection="permissionId" item="perm" separator=",">
        (#{roleId},#{perm})
    </foreach>
  </insert>


  <select id="selectPermissionIds" resultType="java.lang.Integer">
    select per_id from sys_role_per_rel
    where role_id= #{id}
  </select>


  <delete id="deleteRolePermRel">
    delete from sys_role_per_rel
    where role_id = #{roleId}
  </delete>

</mapper>